<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coupang.marketplace.coupon.repository.CouponRepository">
    <select id="getCouponsBeforeExpirationTime" resultType="Coupon">
        SELECT id, name, min_price, discount_price, product_id, expiration_time
        FROM COUPON
        WHERE expiration_time &gt; NOW()
    </select>
</mapper>