<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coupang.marketplace.coupon.repository.CouponRepository">
    <select id="getCouponsBeforeExpirationTime" resultType="Coupon">
        SELECT id, name, min_price, discount_price, product_id, expiration_time
        FROM COUPON
        WHERE expiration_time &gt; NOW()
    </select>
    <select id="findCouponById" resultType="Coupon">
        SELECT id, name, min_price, discount_price, product_id, expiration_time
        FROM COUPON
        WHERE id = #{id}
    </select>
    <select id="findUserCouponById" resultType="UserCoupon">
        SELECT id, user_id, coupon_id, use_status
        FROM USER_COUPON
        WHERE user_id = #{userId} AND coupon_id = #{id}
    </select>
    <insert id="insertUserCoupon" parameterType="UserCoupon">
        INSERT INTO USER_COUPON (id, user_id, coupon_id, use_status)
        VALUES (#{id}, #{userId}, #{couponId}, #{useStatus})
        <selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
</mapper>