<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coupang.marketplace.user.repository.UserRepository">
    <insert id="insertUser" parameterType="User">
        INSERT INTO USER (name, email, salt, password, phone) VALUES (#{name}, #{email}, #{salt}, #{password}, #{phone})
    </insert>
    <select id="findByEmail" resultType="User">
        SELECT id, name, email, salt, password, phone FROM USER WHERE email = #{email}
    </select>
    <select id="updateUserInformation" resultType="User">
        UPDATE USER
        SET name = #{name}, salt = #{salt}, password = #{password}, phone = #{phone}
        WHERE id = #{id}
    </select>
</mapper>